.issues {
    .list();

    .issue-item {
        .list > .item();

        .labels {
            .label {
                border-radius: 2px;
                color: #fff;
                background: #333;
                padding: 3px 5px;
                font-size: 12px
            }
        }
    }
}
