.tab {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    .tab-header {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        height: @tab-header-height;

        overflow: hidden;
        margin: 0px;
        padding: 4px;

        text-align: center;

        color: #444;
        background: #f8f8f8;
        border-bottom: 1px solid @manager-delimiter-color;

        .title {
            margin: 0px 0;
            display: inline-block;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .tab-content {
        position: absolute;
        top: @tab-header-height;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-y: auto;
        background: @background-color;
    }
}
