<div class="tab">
    <div class="tab-header">
        <a href="<%- issue.get("html_url") %>" class="button pull-right" target="_blank"><span class="octicon octicon-link-external"></span></a>
        <span class="title">Issue #<%- issue.get("number") %></span>
    </div>
    <div class="tab-content">
        <div class="issue-intro">
            <h2><%- issue.get("title") %></h2>
            <p><a href="<%- issue.get("user.html_url") %>" target="_blank"><%- issue.get("user.login") %></a> opened this issue <%- $date.relative(issue.get("created_at")) %>  ·  <%- issue.get("comments") %> comments</p>
        </div>
        <div class="issue-comments"></div>
        <div class="issue-controls">
            <form class="form">
                <div class="form-control">
                    <textarea name="body" placeholder="Leave a comment"></textarea>
                </div>
                <div class="form-control clearfix">
                    <div class="buttons-toolbar pull-right">
                        <button class="button button-default action-close">Close issue</button>
                        <button class="button button-success">Comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>