// Fonts
@FontPath: "fonts";

// Header
@header-bg: rgba(255,255,255,0.97);
@header-height: 65px;
@header-padding: 10px;
@header-inner-height: @header-height - (@header-padding * 2);

// Page
@page-width: 900px;

// Toc
@toc-width: 300px;
@toc-bg: rgba(255,255,255,0.97);
@toc-transition-duration: 400ms;
